# Concatenation of Two Labeled Mood Song Datasets
**Author:** Juan Antonio Robledo ([GitHub](https://github.com/JuanRobledo12))

### Description
In this notebook, we explore and combine two distinct datasets containing Spotify song attributes with mood labels (sad, calm, happy, energetic). These datasets are sourced from [AISongRecommender](https://github.com/michaelmoschitto/AISongRecommender/tree/main) and [Spotify Machine Learning Project](https://github.com/cristobalvch/Spotify-Machine-Learning), each offering a unique set of audio features useful for machine learning purposes. 

Given the disparate feature sets and potential data inconsistencies between the two collections, this notebook's objective is to harmonize and cleanse these datasets. Our goal is to amalgamate them into a singular, comprehensive dataset conducive to machine learning applications, ensuring no song duplications and standardized feature sets across the board.

### Execution Instructions

- Execute the entire notebook from start to finish.
- Upon completion, a CSV file named `complete_moods_data.csv` will be generated. This file represents the unified, cleaned dataset, ready for various machine learning tasks involving mood classification of songs.

In [1]:
import pandas as pd

In [2]:
df_moods = pd.read_csv('data_moods.csv')
df_moods_2 = pd.read_csv('data_moods_2.csv')

### Convert the labels of df_moods to lowercase

In [3]:
# Convert labels of df_moods into lowercase
df_moods['mood'] = df_moods['mood'].str.lower()

### Check common columns between dataframes

In [4]:
# Get lists of columns
columns_df_moods = set(df_moods.columns)
columns_df_moods_2 = set(df_moods_2.columns)

# Find common columns
common_columns = columns_df_moods.intersection(columns_df_moods_2)

# Find unique columns
unique_to_df_moods = columns_df_moods.difference(columns_df_moods_2)
unique_to_df_moods_2 = columns_df_moods_2.difference(columns_df_moods)

# Print results
print("Common columns:", common_columns)
print("Columns unique to df_moods:", unique_to_df_moods)
print("Columns unique to df_moods_2:", unique_to_df_moods_2)

Common columns: {'liveness', 'speechiness', 'instrumentalness', 'length', 'loudness', 'name', 'artist', 'energy', 'mood', 'acousticness', 'tempo', 'danceability', 'valence'}
Columns unique to df_moods: {'album', 'key', 'popularity', 'release_date', 'id', 'time_signature'}
Columns unique to df_moods_2: {'timeSignature', 'genres', 'uri'}

### Analyze the features and data types of common columns

The only common feature that is different between the two dataframes is "length".
* In df_moods we have a length in int64 that is in miliseconds.
* In df_moods_2 we have a length in Object that is in days, hours, minutes, etc.

TODO: Convert the length of df_moods_2 into int64 miliseconds.

In [5]:
df_moods[['liveness', 'instrumentalness', 'tempo', 'length', 'acousticness', 'artist', 'energy', 'speechiness', 'valence', 'danceability', 'name', 'loudness', 'mood']].head()

,liveness,instrumentalness,tempo,length,acousticness,artist,energy,speechiness,valence,danceability,name,loudness,mood
0,0.0843,0.000000,118.523,379266,0.13700,Prince,0.730,0.0767,0.625,0.866,1999,-8.201,happy
1,0.1530,0.196000,120.255,318800,0.01890,Blonde Redhead,0.832,0.0492,0.166,0.381,23,-5.069,sad
2,0.0934,0.000077,136.168,217946,0.91300,Damien Rice,0.139,0.0321,0.116,0.346,9 Crimes,-15.326,sad
3,0.1130,0.000006,193.100,233000,0.08900,Nena,0.438,0.0608,0.587,0.466,99 Luftballons,-12.858,happy
4,0.1370,0.000000,169.881,268000,0.00171,Underoath,0.932,0.1060,0.445,0.419,A Boy Brushed Red Living In Black And White,-3.604,energetic

In [6]:
df_moods_2[['liveness', 'instrumentalness', 'tempo', 'length', 'acousticness', 'artist', 'energy', 'speechiness', 'valence', 'danceability', 'name', 'loudness', 'mood']].head()

,liveness,instrumentalness,tempo,length,acousticness,artist,energy,speechiness,valence,danceability,name,loudness,mood
0,0.118,0.878,147.970,0 days 00:03:08.893000,0.9490,santpoort,0.456,0.0524,0.708,0.735,feather light melodies,-12.937,calm
1,0.257,0.971,65.091,0 days 00:02:37.884000,0.3390,Nathan Kawanishi,0.532,0.0344,0.102,0.491,Rained In,-9.540,calm
2,0.319,0.944,87.918,0 days 00:03:05.696000,0.3210,Lo'fi Boy,0.347,0.0793,0.804,0.621,Tiger Park,-15.032,calm
3,0.117,0.898,80.006,0 days 00:02:09.887000,0.0859,Deauxnuts,0.291,0.0781,0.601,0.773,Origami,-15.935,calm
4,0.147,0.717,90.156,0 days 00:02:02.667000,0.7140,Pontiac Puma,0.245,0.2160,0.190,0.704,Tracy,-12.954,calm

In [7]:
df_moods[['liveness', 'instrumentalness', 'tempo', 'length', 'acousticness', 'artist', 'energy', 'speechiness', 'valence', 'danceability', 'name', 'loudness', 'mood']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 686 entries, 0 to 685
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   liveness          686 non-null    float64
 1   instrumentalness  686 non-null    float64
 2   tempo             686 non-null    float64
 3   length            686 non-null    int64
 4   acousticness      686 non-null    float64
 5   artist            686 non-null    object
 6   energy            686 non-null    float64
 7   speechiness       686 non-null    float64
 8   valence           686 non-null    float64
 9   danceability      686 non-null    float64
 10  name              686 non-null    object
 11  loudness          686 non-null    float64
 12  mood              686 non-null    object
dtypes: float64(9), int64(1), object(3)
memory usage: 69.8+ KB

In [8]:
df_moods_2[['liveness', 'instrumentalness', 'tempo', 'length', 'acousticness', 'artist', 'energy', 'speechiness', 'valence', 'danceability', 'name', 'loudness', 'mood']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1784 entries, 0 to 1783
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   liveness          1784 non-null   float64
 1   instrumentalness  1784 non-null   float64
 2   tempo             1784 non-null   float64
 3   length            1784 non-null   object
 4   acousticness      1784 non-null   float64
 5   artist            1784 non-null   object
 6   energy            1784 non-null   float64
 7   speechiness       1784 non-null   float64
 8   valence           1784 non-null   float64
 9   danceability      1784 non-null   float64
 10  name              1784 non-null   object
 11  loudness          1784 non-null   float64
 12  mood              1784 non-null   object
dtypes: float64(9), object(4)
memory usage: 181.3+ KB

### Analyze features and data types of the columns that aren't shared between dataframes

* The id and uri columns are the same in both dataframes, they just have a different column name.
* The time_signature and timeSignature columns are also the same we just have to name them with the same column name.
* The other features are not relevant for our task.

TODO:
* Rename uri to id in df_moods_2.
* Rename timeSignature to time_signature in df_moods_2.
* Drop irrelevant features in both dataframes.,

In [9]:
df_moods[['popularity', 'release_date', 'album', 'id', 'time_signature', 'key']].head()

,popularity,release_date,album,id,time_signature,key
0,68,1982-10-27,1999,2H7PHVdQ3mXqEHXcvclTB0,4,5
1,43,2007-04-16,23,4HIwL9ii9CcXpTOTzMq0MP,4,8
2,60,2006-11-06,9,5GZEeowhvSieFDiR8fQ2im,4,0
3,2,1984-08-21,99 Luftballons,6HA97v4wEGQ5TUClRM0XLc,4,4
4,60,2004-01-01,They're Only Chasing Safety,47IWLfIKOKhFnz1FUEUIkE,4,1

In [10]:
df_moods_2[['uri', 'genres', 'timeSignature']].head()

,uri,genres,timeSignature
0,7suV4LZglmw8Kf8JAMHxQU,"['chillhop', 'focus beats', 'lo-fi beats']",4
1,19HQQW3lGcT8Yq7svGJnbA,['lo-fi beats'],4
2,2RKFdXgtbivlmgSGnI7oEz,[],4
3,1Iloy9vXDfjeVSwv3qHpbo,['lo-fi beats'],4
4,2wKHx2Bg7AysBPrZ9axL1D,[],4

In [11]:
df_moods[['id', 'time_signature']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 686 entries, 0 to 685
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              686 non-null    object
 1   time_signature  686 non-null    int64
dtypes: int64(1), object(1)
memory usage: 10.8+ KB

In [12]:
df_moods_2[['uri', 'timeSignature']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1784 entries, 0 to 1783
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   uri            1784 non-null   object
 1   timeSignature  1784 non-null   int64
dtypes: int64(1), object(1)
memory usage: 28.0+ KB

### Pre-process dataframes before concatenation

In [13]:
df_moods.drop(columns=['popularity', 'release_date', 'album', 'key'], inplace=True)


df_moods_2.drop(columns=['genres'], inplace=True)
# Rename and reorder columns in df_moods_2 to match df_moods
df_moods_2.rename(columns={
    'uri': 'id',
    'timeSignature': 'time_signature',
}, inplace=True)

In [14]:
# Get lists of columns
columns_df_moods = set(df_moods.columns)
columns_df_moods_2 = set(df_moods_2.columns)

# Find common columns
common_columns = columns_df_moods.intersection(columns_df_moods_2)

# Find unique columns
unique_to_df_moods = columns_df_moods.difference(columns_df_moods_2)
unique_to_df_moods_2 = columns_df_moods_2.difference(columns_df_moods)

# Print results
print("Common columns:", common_columns)
print("Columns unique to df_moods:", unique_to_df_moods)
print("Columns unique to df_moods_2:", unique_to_df_moods_2)

Common columns: {'liveness', 'speechiness', 'instrumentalness', 'length', 'loudness', 'name', 'artist', 'energy', 'mood', 'acousticness', 'id', 'tempo', 'time_signature', 'danceability', 'valence'}
Columns unique to df_moods: set()
Columns unique to df_moods_2: set()

In [15]:
# Reorder the columns in df_moods_2 to match the order in df_moods
new_column_order = ['name', 'artist', 'id', 'length', 'danceability', 'acousticness', 'energy', 'instrumentalness', 'liveness', 'valence', 'loudness', 'speechiness', 'tempo', 'time_signature', 'mood']
df_moods_2 = df_moods_2[new_column_order]

In [16]:
# Step 1: Convert the 'length' column to timedelta objects
df_moods_2['length'] = pd.to_timedelta(df_moods_2['length'])

# Step 2: Convert timedelta objects to milliseconds
df_moods_2['length'] = df_moods_2['length'].apply(lambda x: x.total_seconds() * 1000)
df_moods_2['length'] = df_moods_2['length'].astype('int64')
print(df_moods_2[['length']].head())

   length
0  188893
1  157884
2  185696
3  129887
4  122667

In [17]:
df_moods.head()

,name,artist,id,length,danceability,acousticness,energy,instrumentalness,liveness,valence,loudness,speechiness,tempo,time_signature,mood
0,1999,Prince,2H7PHVdQ3mXqEHXcvclTB0,379266,0.866,0.13700,0.730,0.000000,0.0843,0.625,-8.201,0.0767,118.523,4,happy
1,23,Blonde Redhead,4HIwL9ii9CcXpTOTzMq0MP,318800,0.381,0.01890,0.832,0.196000,0.1530,0.166,-5.069,0.0492,120.255,4,sad
2,9 Crimes,Damien Rice,5GZEeowhvSieFDiR8fQ2im,217946,0.346,0.91300,0.139,0.000077,0.0934,0.116,-15.326,0.0321,136.168,4,sad
3,99 Luftballons,Nena,6HA97v4wEGQ5TUClRM0XLc,233000,0.466,0.08900,0.438,0.000006,0.1130,0.587,-12.858,0.0608,193.100,4,happy
4,A Boy Brushed Red Living In Black And White,Underoath,47IWLfIKOKhFnz1FUEUIkE,268000,0.419,0.00171,0.932,0.000000,0.1370,0.445,-3.604,0.1060,169.881,4,energetic

In [18]:
df_moods_2.head()

,name,artist,id,length,danceability,acousticness,energy,instrumentalness,liveness,valence,loudness,speechiness,tempo,time_signature,mood
0,feather light melodies,santpoort,7suV4LZglmw8Kf8JAMHxQU,188893,0.735,0.9490,0.456,0.878,0.118,0.708,-12.937,0.0524,147.970,4,calm
1,Rained In,Nathan Kawanishi,19HQQW3lGcT8Yq7svGJnbA,157884,0.491,0.3390,0.532,0.971,0.257,0.102,-9.540,0.0344,65.091,4,calm
2,Tiger Park,Lo'fi Boy,2RKFdXgtbivlmgSGnI7oEz,185696,0.621,0.3210,0.347,0.944,0.319,0.804,-15.032,0.0793,87.918,4,calm
3,Origami,Deauxnuts,1Iloy9vXDfjeVSwv3qHpbo,129887,0.773,0.0859,0.291,0.898,0.117,0.601,-15.935,0.0781,80.006,4,calm
4,Tracy,Pontiac Puma,2wKHx2Bg7AysBPrZ9axL1D,122667,0.704,0.7140,0.245,0.717,0.147,0.190,-12.954,0.2160,90.156,4,calm

In [19]:
df_moods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 686 entries, 0 to 685
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              686 non-null    object
 1   artist            686 non-null    object
 2   id                686 non-null    object
 3   length            686 non-null    int64
 4   danceability      686 non-null    float64
 5   acousticness      686 non-null    float64
 6   energy            686 non-null    float64
 7   instrumentalness  686 non-null    float64
 8   liveness          686 non-null    float64
 9   valence           686 non-null    float64
 10  loudness          686 non-null    float64
 11  speechiness       686 non-null    float64
 12  tempo             686 non-null    float64
 13  time_signature    686 non-null    int64
 14  mood              686 non-null    object
dtypes: float64(9), int64(2), object(4)
memory usage: 80.5+ KB

In [20]:
df_moods_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1784 entries, 0 to 1783
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              1784 non-null   object
 1   artist            1784 non-null   object
 2   id                1784 non-null   object
 3   length            1784 non-null   int64
 4   danceability      1784 non-null   float64
 5   acousticness      1784 non-null   float64
 6   energy            1784 non-null   float64
 7   instrumentalness  1784 non-null   float64
 8   liveness          1784 non-null   float64
 9   valence           1784 non-null   float64
 10  loudness          1784 non-null   float64
 11  speechiness       1784 non-null   float64
 12  tempo             1784 non-null   float64
 13  time_signature    1784 non-null   int64
 14  mood              1784 non-null   object
dtypes: float64(9), int64(2), object(4)
memory usage: 209.2+ KB

### Concatenate the two dataframes

We finished with the pre-processing by setting the correct data types and eliminating irrelevant features. Now let's put them together.

In [21]:
df_moods_complete = pd.concat([df_moods, df_moods_2])
df_moods_complete.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2470 entries, 0 to 1783
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              2470 non-null   object
 1   artist            2470 non-null   object
 2   id                2470 non-null   object
 3   length            2470 non-null   int64
 4   danceability      2470 non-null   float64
 5   acousticness      2470 non-null   float64
 6   energy            2470 non-null   float64
 7   instrumentalness  2470 non-null   float64
 8   liveness          2470 non-null   float64
 9   valence           2470 non-null   float64
 10  loudness          2470 non-null   float64
 11  speechiness       2470 non-null   float64
 12  tempo             2470 non-null   float64
 13  time_signature    2470 non-null   int64
 14  mood              2470 non-null   object
dtypes: float64(9), int64(2), object(4)
memory usage: 308.8+ KB

### Final cleaning of the dataset

We want to eliminate the duplicates and store this new dataset as a csv file

In [22]:
# Count the number of duplicated 'id' values
duplicated_ids_count = df_moods_complete['id'].duplicated().sum()  # This counts the number of duplicate occurrences, not including the first occurrence.

# Print the number of duplicated 'id' values
print(f"There are {duplicated_ids_count} duplicated 'id' values in the df_moods_complete dataframe.")

There are 177 duplicated 'id' values in the df_moods_complete dataframe.

In [23]:
# Remove rows with duplicated 'id' values, keeping the first occurrence
df_moods_complete =df_moods_complete.drop_duplicates(subset='id', keep='first')

# Recheck the number of duplicated 'id' values after removal
recheck_duplicated_ids_count =df_moods_complete['id'].duplicated().sum()

# Print the number of duplicated 'id' values after removal
print(f"After removal, there are {recheck_duplicated_ids_count} duplicated 'id' values in the df_moods_complete dataframe.")

After removal, there are 0 duplicated 'id' values in the df_moods_complete dataframe.

In [24]:
# Finally, save the merged dataset or perform further analysis
df_moods_complete.to_csv('complete_moods_data.csv', index=False)